@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.site-header__body {
  width: 1131px;
  height: 120px;
  margin: 0 auto;
}
.site-header__menu-burger {
  display: inline-block;
  vertical-align: top;
  margin: 51px 55px 0 0;
  width: 41px;
  height: 20px;
}
.site-header__icon-list {
  display: inline-block;
}
.site-header__lang {
  display: inline-block;
  font-family: Italiana;
  font-size: 32px;
  width: 95px;
  height: 23px;
  margin: 45px 0 0 0;
}
.site-header__lang-name {
  margin: 0 auto 15px;
  color: #E8E8E8;
  text-transform: uppercase;
}
.site-header__lang-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
}
.site-header__menu {
  font-family: "Poiret One";
  display: inline-block;
  vertical-align: top;
  width: 641px;
  height: 42px;
  margin: 42px 57px 0 161px;
}
.site-header__item {
  color: #E8E8E8;
  font-size: 28px;
  margin-right: 78px;
}
.site-header__item:last-child {
  margin-right: 0;
}
.site-header__item--hover {
  color: #2F2626;
  font-size: 36px;
}
.site-header__lk {
  vertical-align: top;
  font-size: 0;
  display: inline-block;
  width: 68px;
  height: 28px;
  margin: 50px 0 0 0;
}
.site-header__lk-link {
  margin-right: 15px;
}

.start-block__body {
  display: block;
  margin: 0 auto;
  width: 1160px;
  height: 874px;
  color: #E8E8E8;
  border-bottom: 1px solid #000;
  position: relative;
}
.start-block__title {
  font-family: Italiana;
  font-size: 270px;
  position: relative;
  z-index: 3;
  margin: 83px 0 0 0;
}
.start-block__subtitle {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  width: 690px;
  position: relative;
  z-index: 100;
}
.start-block__image {
  display: inline-block;
  width: 799px;
  height: auto;
  position: absolute;
  top: 19px;
  left: 361px;
  z-index: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #767778;
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
}

.content {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid #000;
}

.bestseller, .description-1, .description-2, .sets, .slider {
  display: none;
}