@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.site-header__body {
  width: 1131px;
  height: 120px;
  margin: 0 auto;
}
.site-header__menu-burger {
  display: inline-block;
  vertical-align: top;
  margin: 51px 55px 0 0;
  width: 41px;
  height: 20px;
}
.site-header__icon-list {
  display: inline-block;
}
.site-header__lang {
  display: inline-block;
  font-family: Italiana;
  font-size: 32px;
  width: 95px;
  height: 23px;
  margin: 45px 0 0 0;
}
.site-header__lang-name {
  margin: 0 auto 15px;
  color: #E8E8E8;
  text-transform: uppercase;
}
.site-header__lang-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
}
.site-header__menu {
  font-family: "Poiret One";
  display: inline-block;
  vertical-align: top;
  width: 641px;
  height: 42px;
  margin: 42px 57px 0 161px;
}
.site-header__item {
  color: #E8E8E8;
  font-size: 28px;
  margin-right: 78px;
}
.site-header__item:last-child {
  margin-right: 0;
}
.site-header__item--hover {
  color: #2F2626;
  font-size: 36px;
}
.site-header__lk {
  vertical-align: top;
  font-size: 0;
  display: inline-block;
  width: 68px;
  height: 28px;
  margin: 50px 0 0 0;
}
.site-header__lk-link {
  margin-right: 15px;
}

.start-block__body {
  padding-top: 1px;
  display: block;
  margin: 0 auto;
  width: 1160px;
  height: 874px;
  color: #E8E8E8;
  position: relative;
}
.start-block__title {
  font-size: 270px;
  margin: 83px 0 0 0;
}
.start-block__subtitle {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  width: 690px;
  position: relative;
  z-index: 100;
}
.start-block__image {
  display: inline-block;
  width: 799px;
  height: auto;
  position: absolute;
  top: 19px;
  left: 361px;
  z-index: 0;
}

.title {
  font-family: Italiana;
  position: relative;
  z-index: 3;
}

.description-1__body {
  width: 100%;
  height: 905px;
  background-color: #E8E8E8;
}
.description-1__content {
  width: 1160px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 1px;
}
.description-1__title {
  font-size: 96px;
  margin: 192px 0 12px 557px;
}
.description-1__text {
  font-size: 32px;
  width: 598px;
  font-family: "Poiret One", sans-serif;
  margin: 0 0 0 557px;
  line-height: 130%;
  word-spacing: -6px;
}
.description-1__image {
  display: inline-block;
  height: 597px;
  width: auto;
  position: absolute;
  left: 0;
  top: 160px;
}

.bestseller__body {
  height: 1168px;
  width: 1395px;
  margin: 0 auto;
  padding-top: 1px;
}
.bestseller__title {
  font-family: "Poiret One", sans-serif;
  color: #E8E8E8;
  font-size: 96px;
  margin: 203px 0 93px;
  text-align: center;
}

.slider {
  width: 1395px;
  height: 631px;
  margin: 0 auto;
  padding-top: 3px;
  font-size: 0;
}
.slider__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 53px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 23px;
}
.slider__item:last-child {
  margin-right: 0;
}
.slider__image {
  width: 245px;
  height: auto;
}
.slider__image--hover {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.slider__item--hover {
  width: 318px;
  height: 631px;
  margin-top: 0;
}
.slider__text {
  font-family: "Poiret One", sans-serif;
  color: #E8E8E8;
  font-size: 36px;
  margin: 21px 0 0 7px;
}

.description-2__body {
  background-color: #C1C1C1;
  width: 100%;
  height: 872px;
}
.description-2__content {
  padding-top: 0;
  width: 1170px;
  margin: 0 auto;
  color: #2F2626;
  position: relative;
}
.description-2__title {
  display: inline-block;
  font-size: 96px;
  margin: 223px 0 0 0;
}
.description-2__text {
  font-family: "Poiret One", sans-serif;
  font-size: 32px;
  width: 592px;
}
.description-2__image {
  display: inline-block;
  position: absolute;
  top: 172px;
  left: 665px;
  height: 564px;
  width: auto;
}

body {
  margin: 0;
  padding: 0;
  background: #767778;
}

.wrapper {
  width: 100vw;
}

.content {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid #000;
}

.sets {
  display: none;
}