.advantages {
		&__item-title {
         
		}

      &__item-text {

		}
}


.advantages {
      background-color: #D9D9D9;
      font-family: 'Poiret One', sans-serif;
      color: #2F2626;
      padding: 131px 0 157px;

		&__column {
         display: flex;
         flex-direction: column;
         gap: 53px;
		}

		&__title {
         font-size: 48px;
         line-height: 130%;
         word-spacing: -7px;
		}

		&__items {
         display: flex;
         row-gap: 56px;
         column-gap: 100px;
         flex-wrap: wrap;
		}

		&__item {
         width: 43%;
		}

		&__item-title {
         font-size: 32px;
         word-spacing: -5px;
         text-shadow: 0 4px 4px #00000044;
         padding-bottom: 24px;
		}

		&__item-text {
         max-width: 420px;
         font-size: 24px;
         word-spacing: -5px;
		}
}
