.bestseller {
  .container {
    max-width: calc(1395px + 40px);
      @media (max-width: 576px) {
         padding: 0;
      }
  }
  padding: 203px 0 130px;
  background-color: #767778;
  @media (max-width: 576px) {
         padding: calc(36px + (36 * ((100vw - 320px)/256))) 0 calc(47px + (47 * ((100vw - 320px)/256)));
      }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'Poiret One', sans-serif;
    color: #E8E8E8;
    font-size: 96px;
    padding-bottom: 93px;
    text-align: center;
    @media (max-width: 576px) {
         font-size: calc(28px + (28 * ((100vw - 320px)/256)));
         padding-bottom: calc(64px + (64 * ((100vw - 320px)/256)));
      }
  }
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  .slider {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
     @media (max-width: 576px) {
         gap: calc(16px + (16 * ((100vw - 320px)/256)));
      }
    

    &__item {
      flex: 0 0 245px;
      backface-visibility: hidden;
      &:hover {
         .slider__text {
            visibility: visible;
         }
      }
       @media (max-width: 576px) {
         flex: 0 0 calc(142px + (142 * ((100vw - 320px)/256)));
         text-align: start;
      }
    }

    &__image {
      width: 100%;
      height: 446px;
      border-radius: 8px;
      @media (max-width: 576px) {
         height: calc(236px + (236 * ((100vw - 320px)/256)));
         img {
          object-fit: cover;
         }
      }
    }

    &__text {
      padding-top: 21px;
      font-family: 'Poiret One', sans-serif;
      color: #E8E8E8;
      font-size: 36px;
      margin-left: 7px;
      visibility: hidden;
      @media (max-width: 576px) {
         padding-top: calc(25px + (25 * ((100vw - 320px)/256)));
         font-size: calc(14px + (14 * ((100vw - 320px)/256)));
         margin-left: 0px;
      }
    }
  }

  .slider-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70px;
    cursor: pointer;
    z-index: 2;
  }
  .slider-btn--prev { 
   left: 0;
   }
  .slider-btn--next {
   right: 0;
   }
}
