.description-2 {
      background-color: #C1C1C1;
      color: #2F2626;
      padding: 172px 0 136px;
      @media (max-width: 576px) {
         padding: 0 0 calc(63px + (63 * ((100vw - 320px)/256)));
         .container {
            padding: 0;
         }
      }
      &__row {
         display: flex;
         align-items: center;
         @media (max-width: 576px) {
         flex-direction: column-reverse;
         gap: calc(26px + (26 * ((100vw - 320px)/256)));
         }
	}

	&__body {
         flex: 1 1 auto;
         @media (max-width: 576px) {
         text-align: center;
         }
	}

	&__title {
         font-size: 96px;
         @media (max-width: 576px) {
         font-size: calc(40px + (40 * ((100vw - 320px)/256)));
         padding-bottom: calc(20px + (20 * ((100vw - 320px)/256)));
         }         
	}

	&__text {
         font-family: 'Poiret One', sans-serif;
         font-size: 32px;
         padding-right: 50px;
         word-spacing: -2px;
         @media (max-width: 576px) {
         padding: 0 18px;
         font-size: calc(14px + (14 * ((100vw - 320px)/256)));
         line-height: 130%;
         }
	}

	&__image {
         flex: 0 0 auto;
         max-width: 505px;
         @media (max-width: 576px) {
         flex: 0 0 100%; // растягиваем flex-элемент
         max-width: 100%; // убираем ограничение по max-width
         width: 100%; // обязательно, чтобы занимало всю ширину
         }
	}
}



