.footer {
      background-color:#767778;
      padding: 42px 0;
      color: #FFFFFF;
		&__row {
         display: flex;
         align-content: space-between;
         flex-wrap: wrap;
         row-gap: 32px;
         column-gap: 39px;
		}

      &__sending {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }

		&__sending-block {
         display: flex;
         flex-direction: column;
         gap: 29px;

		}

		&__logo {
         font-size: 64px;
         color: #2F2626;
		}

		&__sending-title {
         font-family: 'Poiret One', sans-serif;
         font-size: 24px;
         color: #FFFFFF;
		}

		&__email {
         color: #FFFFFF;
         width: 281px;
         font-size: 20px;
         background-color: #00000000;
         border: 1px solid #FFFFFF;
         padding: 15px;
         font-family: 'Poiret One', sans-serif;
         &::placeholder {
            color: #FFFFFF;
            font-size: 26px;
         }
		}

		&__information {
         display: flex;
         flex: 1 1 auto;
         justify-content: space-between;
		}


      &__lists {
         display: flex;
         flex-direction: column;
      }

		&__subtitle {
         font-size: 32px;
         font-family: 'Poiret One', sans-serif;
         color: #2F2626;
         word-spacing: -5px;
		}

		&__list {
         font-family: 'Poiret One', sans-serif;
         font-size: 20px;
         line-height: 200%;
         color: #FFFFFF;
         &:first-child {
            padding-top: 30px;
         }
		}

		&__contact-title {
         font-family: 'Poiret One', sans-serif;
         font-size: 24px;
         padding: 0 0 38px 0;
		}

		&__contact-icons {
         display: flex;
         gap: 37px;
		}
}
