.header {
  padding: 45px 0;
  background-color: #767778;
  color: #E8E8E8;

  &__row {
    display: flex;
    align-items: center;
    gap: 55px;
    position: relative;
  }

  &__menu-burger {
    display: none;
    flex-direction: column;
    justify-content: center; // центрируем полоски
    align-items: center;
    width: 19px;
    height: 15px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    z-index: 1100;

    span {
      display: block;
      height: 1.5px; // одинаковая высота для всех
      width: 100%;
      background: #E8E8E8;
      border-radius: 3px;
      margin: 2px 0; // небольшой отступ между полосками
      transition: all 0.3s ease;

    }
  }

  &__menu-burger.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__lang-name {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
  }

  &__menu {
    padding: 5px 0;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 88px;
    padding-right: 19px;
  }

  &__item {
    font-family: 'Poiret One';
    font-weight: 400;
    font-size: 28px;
    color: #E8E8E8;
    white-space: nowrap;
    transition: color 0.2s ease;

    &:hover {
      color: #2F2626;
    }
  }

  &__lk {
    display: flex;
    gap: 15px;
    padding-right: 16px;
  }

  /* ===== МЕДИА ДЛЯ МОБИЛЬНЫХ (320–576px) ===== */
  @media (max-width: 576px) {
    padding: calc(15px + (15 * ((100vw - 320px)/256))) 0;
    &__row {
      gap: calc(10px + (10 * ((100vw - 320px)/256)));
      justify-content: start;
    }

    &__menu-burger {
      display: flex;
      width: calc(19px + (19 * ((100vw - 320px)/256)));
      height: calc(15px + (15 * ((100vw - 320px)/256)));
      span {
      height: calc(1.5px + (1.5 * ((100vw - 320px)/256)));
      margin: calc(2px + (2 * ((100vw - 320px)/256)));
    }
    }

    &__lang {
      font-size: calc(14px + (14 * ((100vw - 320px)/256)));
      gap: calc(3px + (3 * ((100vw - 320px)/256)));

      img {
        height: calc(8px + (8 * ((100vw - 320px)/256)));
      }
    }

    &__lang-name {
      font-size: calc(20px + (20 * ((100vw - 320px)/256)));
    }

    &__menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: calc(30px + (30 * ((100vw - 320px)/256)));

      position: fixed;
      top: 0;
      left: 0;
      width: 70%;
      height: 100%;
      background: #767778;
      transform: translateX(-100%);
      transition: transform 0.5s ease;
      z-index: 1000;
    }

    &__menu.active {
      transform: translateX(0);
    }

    &__item {
      font-size: calc(16px + (16 * ((100vw - 320px)/256)));
    }

    &__lk {
      margin-left: auto;

      a {
        height: calc(19px + (19 * ((100vw - 320px)/256)));

        img {
          height: 100%;
        }
      }
    }
  }
}

body.lock {
  overflow: hidden;
}
