@use "_nullstyle";
@use "_header";
@use "_start-block";
@use "_description-1";
@use "_bestseller";
@use "_description-2";
@use "_sets";
@use "_advantages";
@use "_footer";

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap');



.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid #000;
}

.site-main {
  flex: 1 1 auto;
  display: none;
}