@use "_nullstyle";
@use "_header";
@use "_start-block";
@use "_description-1";
@use "_bestseller";
@use "_description-2";
@use "_sets";
@use "_advantages";
@use "_footer";

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  // Ноутбуки и маленькие десктопы
  @media (max-width: 1200px) {
    max-width: 992px;
    //практически все блоки нормально, кроме sets и footer
  }

  // Планшеты
  @media (max-width: 992px) {
    max-width: 768px;
  }

  // Телефоны
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 20px;
  }

  // Телефоны (<576px)
  @media (max-width: 576px) {
    max-width: 100%;
    padding: 0 15px;
  }
}

.main {
  flex: 1 1 auto;
}