@use "_nullstyle";
@use "_header";
@use "_start-block";

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap');


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #767778;
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
}

.content {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid #000;
}




.site-main {
   display: none;
}